@charset "UTF-8";


 

body {
    background-color: rgb(199, 250, 148);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
h1 {color: rgb(51, 96, 96);}
h2 {color: rgb(42, 58, 58);}

p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
     
}
