@charset "UTF-8";

/*estilo para impressora*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article{
    width: 100%;
}

article::after{
    content: "esse artigo foi impresso através de uma impressora";
}
